{{#> base}}
  <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td>&nbsp;</td>
      <td class="container">
        <div class="content">
          <!-- START CENTERED WHITE CONTAINER -->
          <table role="presentation" class="main">
            <!-- START MAIN CONTENT AREA -->
            <tr>
              <td class="wrapper">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <p>Hi {{first_name}},</p>
                      <p>A new dispute has been started which needs your attention.
                      </p>
                      <ul>
                        <li>Lender: {{lender_id}}</li>
                        <li>Borrower: {{borrower_id}}</li>
                        <li>Contract: {{contract_id}}</li>
                        <li>Dispute: {{dispute_id}}</li>
                      </ul>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <!-- END MAIN CONTENT AREA -->
          </table>
          <!-- END CENTERED WHITE CONTAINER -->
        </div>
      </td>
      <td>&nbsp;</td>
    </tr>
  </table>
{{/base}}
